@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body{
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  color: #505962;
}
.offset:before {
  display: block;
  content: "";
  height: 4rem;
  margin-top: -4rem;
}

.hr-head-custom {
  width: 25%;
  border: 0.2rem solid orange;
  border-radius: 50%;
}

/*====== Navigation ======*/
.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  
  background: rgba(0,0,0,0.6)!important;
}
.navbar-brand img {
  height: 2rem;
}
.navbar-nav li {
  padding-right: .7rem;
}
.navbar-dark .navbar-nav .nav-link {
  color: white;
  padding-top: 0.8rem;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
  color: #ffd700;
}

/*====== Landing Page ======*/

.home-inner{
  background-image: url(../img/car.jpg);
}
.caption{
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 38%;
  z-index: 1;
  color: white;
  text-transform: uppercase;
}
.caption h1{
  font-size : 3.8rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  text-shadow: .1rem .1rem .8rem black;
}
.caption h3{
  font-size: 2rem;
  text-shadow: .1rem .1rem .5rem black;
  padding-bottom: 1.6rem;
}
.btn-lg {
  border-width: medium;
  border-radius: 0;
  padding: 0.6rem 1.3rem;
  font-size: 1.1rem;
}

/*====== About Us ======*/

.narrow {
  width: 75%;
  margin: 1.5rem auto;
  padding-top: 2rem;
}
.narrow h1{
  font-size: 2.4rem;
}

.narrow ul li {
  font-size: 1.6rem;
  padding: 0.8rem 1.2rem;
}
/*====== Features ======*/
.jumbotron {
  margin-bottom: 0;
  padding: 2rem 0 3.5rem;
  border-radius: 0;
}
h3.heading{
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
}
.img-to-icon {
  width: auto;
  height: auto;
  max-width: 5rem;
  max-height: 5rem;
  border-radius: 50%;
  margin: 1rem;
}
.feature h3 {
  font-size: 1.3 rem;
  text-transform: uppercase;
  padding: 0.4rem;
}
.feature p {
  font-size: 1.1rem;
}
.hr-split-custom {
  width: 75%;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  border: 0.01rem solid orange;
}

.helpful-title{
  margin-bottom: 15px;
  font-size: 20px;

}
.footer-links:hover{
  color: #ffd700;
}

.helpful-links{
  padding: 10px;
  border: orange;
  border-width: 0px 0px 0px 10px;
  border-style: solid;

}

.copyright{
  background-color: #505962;
  color: whitesmoke;
  padding: 20px;
  border-top: 1px solid #333;
}
.copyright ul li{
  display: inline-block;
  margin-left: 20px;
}
.copyright ul li a{
  color: orange;
}
.copyright ul{
  margin: 0px;
}

/*---- use media queries to adjust the changes for mobile screens
       like img sizes and the headers ----*/

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
