{% extends "layout.html" %}{% block head %}
<link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static', filename='css/form.css')}}"
/>
{% endblock head%} {% block body %}
<div class="form-section col-lg-8 col-sm-12 ml-auto mr-auto content">
    <form action="" method="POST">
        <!-- adding CSRF token -->
        {{form.hidden_tag()}}
        <fieldset class="form-group">
            <legend
                class="border-bottom  mb-4 ml-auto form-section"
                style="text-align: center;"
            >
                WELCOME AGAIN!
            </legend>
            <div class="form-group row">
                <!-- email  -->
                {{ form.email.label(class="form-control-label col-md-2")}}
                {{form.email(class="form-control form-control-lg col-md-10
                m-auto")}}
            </div>

            <div class="form-group row">
                <!-- password  -->
                {{ form.password.label(class="form-control-label col-md-2")}}
                {{form.password(class="form-control form-control-lg col-md-10 px-1")}}
            </div>
        </fieldset>

        <div class="form-check mb-4" style="text-align: center;">
            <!-- Remember Me  -->
            {{ form.remember(class="form-check-input ") }} {{
            form.remember.label(class="form-check-label  ml-2") }}
        </div>

        <div class="form-group row">
            <!-- Submit btn  -->
            {{ form.submit(class="btn btn-warning btn-lg m-auto btn-submit") }}
        </div>

        <div style="text-align: center;">
            <!-- Forget password link -->
            <small class="text-muted ml-2 mb-4">
                <a href="#"> Forgot Password?</a>
            </small>
        </div>
    </form>
    <div class="border-top pt-3 col-md-8 m-auto " style="text-align: center;">
        <small class="text-muted ml-auto col-md-12">
            Need an account? <a href="{{ url_for('register')}}">sign Up Now</a>
        </small>
    </div>
</div>
{% endblock body%}
