{% extends "dashboard-layout.html" %}
{% block body %}
    <!-- Vehicles -->
    <section>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
            <h4 class=" mb-4 text-center">Vehicles</h4>
            <div>
              {%for vehicle in data.vehicles %}
                <div class="card">
                  <div class="card-header">
                    <button class="btn btn-block bg-dark text-warning text-left bg-black" data-toggle="collapse" data-target="#collapse{{loop.index}}" >
                      <img src="../static/img/logo.png" class="mr-3 rounded" width="50">
                      {{vehicle.vehicle_model}}
                    </button>
                  </div>
                  <div class="collapse" id="collapse{{loop.index}}">
                    <div class="card-body">
                        <div class="row">
                          <div class="col-xl-12 col-lg-11 col-md-10 ml-auto">
                            <div class="row pt-md-5 mt-md-3 mb-5">
                              <div class="col-xl-4 col-sm-6 p-2">
                                <div class="card card-common">
                                  <div class="card card-common">
                                    <div class="card-body">
                                      <div class="d-flex justify-content-between">
                                        <i class="fas fa-tachometer-alt fa-3x text-warning"></i>
                                        <div class="text-right text-secondary">
                                          <h5>Accelerometer</h5>
                                          <h3>{{vehicle.accelerometer}}</h3>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="card-footer text-secondary">
                                      <i class="fas fa-sync mr-3"></i>
                                      <span>Kilometer Per Second Squared</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-xl-4 col-sm-6 p-2">
                                <div class="card card-common">
                                  <div class="card-body">
                                    <div class="d-flex justify-content-between">
                                      <i class="fas fa-map-marker-alt fa-3x text-primary"></i>
                                      <div class="text-right text-secondary">
                                        <h5>Last Location</h5>
                                        <h3>{{vehicle.last_location}}</h3>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="card-footer text-secondary">
                                    <i class="fas fa-sync mr-3"></i>
                                    <span>Updated {{ vehicle.update_date }}</span>
                                  </div>
                                </div>
                              </div>
                              <div class="col-xl-4 col-sm-12 p-2">
                                <div class="card card-common">
                                  <div class="card-body">
                                    <div class="d-flex justify-content-between">
                                      {% if "Running" in vehicle.status %}
                                        <i class="fas fa-car fa-3x text-success"></i>
                                      {% else %}
                                        <i class="fas fa-car fa-3x text-danger"></i>
                                      {% endif %}
                                      <div class="text-right text-secondary">
                                        <h5>Status</h5>
                                        <h3>{{vehicle.status}}</h3>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="card-footer text-secondary">
                                    <i class="fas fa-sync mr-3"></i>
                                    <span>Updated {{vehicle.update_date}}</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end of Vehicles -->
    <!-- tables -->
    <section>
      <div class="row mb-5 mt-5">
        <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
          <div class="row align-items-center">
            <div class="col-12 mb-4">
              <h3 class="text-center mb-3">Observe List</h3>
              {%for observer in data.observers %}
              <div class="col-12" id = "observer-{{observer.username}}">
                <div class="bg-dark text-warning text-left bg-black  rounded-pill">
                  <div class="row">
                    <div class="col-11">
                      <img src="{{ observer.image_file }}" class="mr-3 rounded-circle p-1" width="50">
                      {{observer.username}}
                    </div>
                    <div class="col-1 my-auto mx-auto">
                      <button type="button" data-id="remove-observer-{{observer.username}}" class="btn btn-danger btn-sm rounded-pill delete-observer">Remove</button>
                    </div>
                  </div>
                </div>
                <table class="table table-striped bg-light text-center" style="border-radius:1.5rem;">
                  <thead>
                    <tr class="text-muted">
                      <th>#</th>
                      <th>Name</th>
                      <th>Plate Number</th>
                      <th>Accelerometer</th>
                      <th>Last Location</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    {%for vehicle in observer.vehicles %}
                      <tr>
                        <th>{{loop.index}}</th>
                        <td>{{vehicle.vehicle_model}}</td>
                        <td>{{vehicle.plate_number}}</td>
                        <td>{{vehicle.accelerometer}}</td>
                        <td>{{vehicle.last_location}}</td>
                        <td>{{vehicle.status}}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
                {% endfor %}
            </div>
            <div class="col-12">
              <h3 class="text-center mb-3 mt-3">Pending Observe Requests</h3>
              <table class="table table-dark table-hover text-center bg-black">
                <thead>
                  <tr class="text-light">
                    <th>#</th>
                    <th>Name</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody class="text-warning">
                  {%for request in data.pending_observer_requests %}
                    <tr id="observer-request-{{request.username}}">
                      <td>{{loop.index}}</td>
                      <td>{{request.username}}</td>
                      <td><button type="button" data-id="accept-observer-request-{{request.username}}" class="btn btn-success btn-sm mr-5 accept-observer-request">Accept</button>
                          <button type="button" data-id="delete-observer-request-{{request.username}}" class="btn btn-danger btn-sm delete-observer-request">Remove</button>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end of tables -->
    <section>
      <div class="row mb-5">
        <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
          <div class="row align-items-center">
            <div class="col-12 mb-4">
              <h3 class="text-center mb-3">Accident Records</h3>
              <table class="table table-striped bg-black text-center">
                <thead>
                  <tr class="text-light">
                    <th>#</th>
                    <th>Vehicle</th>
                    <th>Plate Number</th>
                    <th>Accelerometer</th>
                    <th>Location</th>
                    <th>Date</th>
                  </tr>
                </thead>
                <tbody>
                  {%for accident in data.accidents %}
                    <tr>
                      <th>{{loop.index}}</th>
                      <td>{{accident.vehicle_model}}</td>
                      <td>{{accident.plate_number}}</td>
                      <td>{{accident.accelerometer}}</td>
                      <td>{{accident.location}}</td>
                      <td>{{accident.date}}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script>
      let deleteBtns;
      deleteBtns = document.querySelectorAll(".delete-observer");
      let observerUsername;
      for (let i = 0; i < deleteBtns.length; i++) {
        const deleteBtn = deleteBtns[i];
        deleteBtn.onclick = function(e) {
          console.log("Delete event: ", e);
          const observerDeleteButtonDataId = e.target.dataset.id;
          var pieces = observerDeleteButtonDataId.split("-")
          observerUsername = pieces[pieces.length - 1]
          console.log(observerUsername)
          fetch('/dashboard/observer/'+ observerUsername + '/delete',{
            method: 'DELETE'
          }).then(function() {
            console.log('Parent?', e.target);
            const item = document.getElementById("observer-" + observerUsername)
            item.remove();
            })
            .catch(function(e) {
              console.error(e);
            });
          };
      }

      deleteBtns = document.querySelectorAll(".delete-observer-request");
      let requestUsername;
      for (let i = 0; i < deleteBtns.length; i++) {
        const deleteBtn = deleteBtns[i];
        deleteBtn.onclick = function(e) {
          console.log("Delete event: ", e);
          const observerRequestDeleteButtonDataId = e.target.dataset.id;
          var pieces = observerRequestDeleteButtonDataId.split("-")
          requestUsername = pieces[pieces.length - 1]
          console.log(requestUsername)
          fetch('/dashboard/observer/request/'+ requestUsername + '/delete',{
            method: 'DELETE'
          }).then(function() {
            console.log('Parent?', e.target);
            const item = document.getElementById("observer-request-" + requestUsername)
            item.remove();
            })
            .catch(function(e) {
              console.error(e);
            });
          };
      }

      let acceptBtns = document.querySelectorAll(".accept-observer-request");
      for (let i = 0; i < acceptBtns.length; i++) {
        const acceptBtn = acceptBtns[i];
        acceptBtn.onclick = function(e) {
          console.log("Accept event: ", e);
          const observerRequestAccpetButtonDataId = e.target.dataset.id;
          var pieces = observerRequestAccpetButtonDataId.split("-")
          requestUsername = pieces[pieces.length - 1]
          console.log(requestUsername)
          fetch('/dashboard/observer/request/'+ requestUsername + '/accept',{
            method: 'POST'
          }).then(function() {
            console.log('Parent?', e.target);
            const item = document.getElementById("observer-request-" + requestUsername)
            item.remove();
            })
            .catch(function(e) {
              console.error(e);
            });
          };
      }
    </script>
  <script type="text/javascript" src="../static/js/dashboard-buttons.js"></script>
    <!-- end of tables -->
{% endblock body %}

