{% extends "dashboard-layout.html" %}{% block head %}
    <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', filename='css/form.css') }}"
    />
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6L7HylZmg06Qt_gnpwC4qbREPXg4PNaM&libraries=places"></script>
    <script>
        let source = {
            lat: 30.294674,
            lng: 31.743588
        };
        let destination;
        let directionsDisplay;
        let directionsService = new google.maps.DirectionsService();
        google.maps.event.addDomListener(window, 'load', function () {
            //new google.maps.places.SearchBox(document.getElementById('Source'));
            new google.maps.places.SearchBox(document.getElementById('Destination'));
            directionsDisplay = new google.maps.DirectionsRenderer({'draggable': true});
        });

        function GetRoute() {
            //*********DIRECTIONS AND ROUTE**********************//
            //source = document.getElementById("Source").value;
            destination = document.getElementById("Destination").value;

            if (source != "" && destination != "") {

                map = new google.maps.Map(document.getElementById('Map'));
                directionsDisplay.setMap(map);
                directionsDisplay.setPanel(document.getElementById('Panel'));

                let request = {
                    origin: source,
                    destination: destination,
                    travelMode: google.maps.TravelMode.DRIVING
                };

                directionsService.route(request, function (response, status) {
                    if (status == google.maps.DirectionsStatus.OK) {
                        directionsDisplay.setDirections(response);
                    }
                });

                setTimeout(GetStep, 1000);
            } else {
                alert("Enter your destination");
            }
        }

        function GetStep() {
            let current_location = document.getElementsByClassName('adp-text');
            let setPoint = current_location[0].innerText;
            let destPoint = current_location[1].innerText;
            console.log("Your current location: " + setPoint);
            console.log("Your Destination: " + destPoint);

            let dest_steps = document.getElementsByClassName('adp-directions');
            let step = dest_steps[0].childNodes[0].childNodes
            console.log(step[0].innerText);

            function fetchdata() {
                $.ajax({
                    url: 'fetch_details.php',
                    type: 'post',
                    success: function (response) {
                        // Perform operation on the return value
                        alert(response);
                    }
                });
            }
            $(document).ready(function () {
                setInterval(fetchdata, 5000);
            });
        }


    </script>
{% endblock head %} {% block body %}

    <div class="col-lg-7 col-sm-12 ml-auto mr-auto content">

        <table border="0" cellpadding="0" cellspacing="3">
            <tr>
                <td colspan="2">
                    Destination:
                    <input type="text" id="Destination" placeholder="Enter a destination location" style="width: 40%"/>

                    <br/>
                    <input type="button" value="Get Route" onclick="GetRoute()"/>
                    <hr/>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div id="dvDistance">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="Map" style="width: 500px; height: 500px">
                    </div>
                </td>
                <td>
                    <div id="Panel" style="width: 700px; height: 500px">
                    </div>
                </td>
            </tr>
        </table>
        <br/>

    </div>

{% endblock body %}
