{% extends "layout.html" %}{% block head %}
<link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static', filename='css/form.css')}}"
/>
{% endblock head%} {% block body %}
<div class="form-section col-lg-7 col-sm-12 ml-auto mr-auto content">
    <form action="" method="POST">
        <!-- adding CSRF token -->
        {{form.hidden_tag()}}
        <fieldset class="form-group">
            <legend
                class="border-bottom  mb-4 ml-auto form-section"
                style="text-align: center;"
            >
                Enter your new password
            </legend>
            <div class="form-group row">
                <!-- password  -->
                {{ form.password.label(class="form-control-label col-md-2")}}
                {% if form.password.errors %}
                {{form.password(class="form-control form-control-lg col-md-10 m-auto is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                        <span class="col-md-12">{{ error }}</span>
                    {% endfor%}
                </div>
                {% else %}
                    {{form.password(class="form-control form-control-lg col-md-10 m-auto")}}
                {% endif %}
            </div>

            <div class="form-group row">
                <!-- confirm password  -->
                {{ form.confirm_password.label(class="form-control-label col-md-2")}}
                {% if form.confirm_password.errors %}
                    {{form.confirm_password(class="form-control form-control-lg col-md-10 m-auto is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.confirm_password.errors %}
                            <span class="col-md-12">{{ error }}</span>
                        {% endfor%}
                    </div>
                {% else %}
                    {{form.confirm_password(class="form-control form-control-lg col-md-10 m-auto")}}
                {% endif %}
            </div>
        </fieldset>

        <div class="form-group row">
            <!-- Submit btn  -->
            {{ form.submit(class="btn btn-warning btn-lg m-auto btn-submit") }}
        </div>

    </form>
    <div class="border-top pt-3 col-md-8 m-auto " style="text-align: center;">
        <small class="text-muted ml-auto col-md-12">
            Need an account? <a href="{{ url_for('register')}}">sign Up Now</a>
        </small>
    </div>
    <br>
    <br>
</div>
{% endblock body%}
